<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>78322563452-3lt455slre3fofmc38fk7vdei2g68i95.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.78322563452-3lt455slre3fofmc38fk7vdei2g68i95</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>78322563452-9asr6s1b0l7rdpjvvh3lq2jdr5fne36k.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAVPxZAE1wAqQjzdz4_BvHjRAjwLp470fA</string>
	<key>GCM_SENDER_ID</key>
	<string>78322563452</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mx.mtask.adminCustomerChat</string>
	<key>PROJECT_ID</key>
	<string>multitask-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>multitask-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:78322563452:ios:78b65432aaa5d008f10cf9</string>
	<key>DATABASE_URL</key>
	<string>https://multitask-dev.firebaseio.com</string>
</dict>
</plist>