<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.twilio.twilio_voice">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application>
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>

</manifest>
